@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">O que você está procurando?</h1>
    <p>Busque por professores, como "Fulano de tal".</p>
    <p>Por disciplinas, como "Cálculo 1".</p>
    <p>Ou por semestres, como "2022-1" ou "2022/1".</p>
</div>
